        <div class="comment_container">
          <br><h4>댓글</h4>
            {% for comment in comments %}
            <div>
            <div style="display:inline" class="comment_info">{{ comment.user }} <font size=1>({{ comment.created_at }})</font></div>
            <div style="display:inline" class="comment_content">{{ comment.content }}</div>
            <a href="{% url 'delete_comment' pk=comment.pk %}">
                <button type="button" class="btn btn-link btn-xs">댓글삭제</button>
            </a>

            </div>

            {% empty %}
            <p>댓글 없음.</p>
            {% endfor %}
        </div>
