{% extends 'blog_layout.html' %}
{% load bootstrap3 %}

{% block page_title %}새글 작성 {% endblock %}

{% block content %}
        <form method="POST" action="" class="form-horizontal"><br>
            {% csrf_token %}

<!--
            <br><div class="form-group form-group-sm">
                <p>카테고리:
                    <select name="category">
                    {% for category in categories %}
                    <option value="{{ category.pk }}">{{ category.cat }}</option>
                    {% endfor %}
                    </select>
                </p>
                <div>
                <p>제목:</p>
                <input type="text" size="40" name="title" value="{{ post.title }}" id="id_title"><br>
                </div><br>

                <div>
                <p>내용:</p>
                <textarea rows="15" cols="42" name="content">{{ post.content }}</textarea>
                </div><br>
-->


                {{ form.as_p }}


                <p>
                {% bootstrap_button "저장" button_type="submit" button_class="btn-primary" %}
                <a href="{% url 'list_posts' %}">
                    <button type="button" class="btn btn-primary">취소</button>
                </a>
                </p>
            </div>

        </form>

        {% endblock %}
